<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burn</title>
    <meta name="description" content="Always on fire.">
    <link rel="stylesheet" href="css/indexstyle.css" />    
    <link rel="shortcut icon" type="image/png" href="Imgs/minimal gradient.png">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://kit.fontawesome.com/53a67ba7bc.js" crossorigin="anonymous"></script>    
    <script src="https://unpkg.com/scrollreveal"></script>   
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <meta property='og:title' content='Burn - Always on Fire'/>
    <meta property='og:image' content='https://i.ibb.co/BLN41TH/ogimage.png'/>
    <meta property='og:description' content='BurnFx. A whole new way of editing videos.'/>    
    <meta property='og:url' content='https://risixdzn.github.io/ignite/'/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
</head>
<body>  
  
<!--navbar--> 

<link rel="stylesheet" href="css/navbar.css" />

<header>
  <a class="logo" href="/"><img src="Imgs/logo.svg" alt="logo"></a>
  <nav>
      <ul class="nav__links">
          <li><a class="link" href="#home" id="nav01">Home</a></li>
          <li><a class="link" href="#quemsomos" id="nav02">Quem&nbspsomos</a></li>
          <li><a class="link" href="#trabalhos-recentes" id="nav03">Trabalhos&nbspRecentes</a></li>
          <li><a class="link" href="#envieseusclips" id="nav04">Envie&nbspseus&nbspclips</a></li>
      </ul>
  </nav>
  <a class="login" href="login.ejs"><i class="fa-solid fa-user"></i>&nbspMinha&nbspconta</a>
  <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
  </button>
</header>
<nav class="mobile-nav">
  <a href="#home"><i class="fa-solid fa-house"></i> Home</a>
  <a href="#quemsomos"><i class="fa-solid fa-user"></i> Quem&nbspsomos</a>
  <a href="#trabalhos-recentes"><i class="fa-solid fa-paintbrush"></i> Projetos&nbsprecentes</a>
  <a href="#envieseusclips"><i class="fa-solid fa-envelope"></i> Envie&nbspseus&nbspclips</a>  
  <a href="login.ejs"><i class="fa-solid fa-user"></i> Minha conta</a>         
</nav>   
<script type="text/javascript" src="js/main.js"></script>

    
    <!--sessão home-->
    <section class="home" id="home">
            
      <div class="max-width-home">
            <div class="conteudo-home">
                <div class="imgconteudohome">
                    <img class="burnhand" src="Imgs/ignite maozinha.png">
                </div>
                <div class="textconteudohome">
                    <h1 class="titleburn">burn</h1>
                    <h3 class="subtitleburn">Always on fire.</h3>
                </div>                                               
            </div>
            
            <div class="btnreadmore">
                <a href="#quemsomos" class="bn3637 bn36"><i class="fa-solid fa-plus"></i>&nbspSaiba&nbspmais</a> 
            </div> 
                    
      </div>
      

      <video id="videoBGhome" poster="Vids/poster_bgvideohome.png" autoplay muted loop>
          <source src="Vids/bgvideohome.mp4" type="video/mp4">
      </video>        
    </section>

    <!--end home-->

    <!--quemsomos-->

    <section class="quemsomos" id="quemsomos">
      
      <div id="quemsomos-maxwidth" class="quemsomos-maxwidth">
        <div class="quemsomos-conteudo">

          <div class="column1">
            <div class="titlequemsomos" id="">
              <h1 class="numbersection">01</h1>
              <hr class="lineacross"> 
              <h1 class="titlesection">Quem&nbspsomos</h1>
            </div>   
            <div class="textdescription">
              <h3 class="desc" id="desc1">
                "Sair do comum".

                Esse é o nosso lema. 
              </h3>
              <h3 class="desc">
                A <b><u>BurnFx</u>&copy</b> preza pela inovação em todos seus projetos, buscando se diferenciar das outras produtoras de conteúdo.
                A empresa, uma das pioneiras na criação de highlights da soloqueue brasileira, tem o intúito de elevar o nivel de edição da nossa região (BR) trazendo efeitos e conteúdos apenas vistos no exterior. 
              </h3>
              <h3 class="desc" id="desc1">
                Fundado por <i class="fa fa-twitter"></i> @risixdzn e Extremo.
              </h3>
              <img class="waves" src="Imgs/waves.png">
            </div>
          </div>  

          <div class="column2">
            <div class="imgside">
              <img class="imagemside" src="Imgs/gif side.png" alt="">
            </div>
          </div>
          
        </div>
      </div>

    </section>

    <!--quemsomosend-->

    <!--trabalhos recentes-->

    <section class="trabalhos-recentes" id="trabalhos-recentes">

      <link rel="stylesheet" href="css/swiper.css" />

      <h1 class="titlesection">Trabalhos Recentes</h1>      
      

      <div class="slide-container swiper">
        <div class="slide-content" id="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/hydro.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Hydrogen</h2>
                        <p class="description">Streamer at @FacebookGaming <Br>Gangplank/Swain main. <Br> <a href="https://fb.gg/thehydrogen" target="_blank">fb.gg/thehydrogen</a></p>

                        <button onclick="window.open('https://youtu.be/uA4ZzhvU9Nk', '_blank').focus();" class="button"  target="_blank">Assista</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/Klaus.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Klaus</h2>
                        <p class="description">League of Legends esports player.<br>Previously bot laner for Vivo Keyd.<br><a href="https://twitch.tv/klauslol1" target="_blank">twitch.tv/klauslol1</a></p>

                        <button onclick="window.open('https://www.tiktok.com/@klauslol1/video/7094374995694030086', '_blank').focus();" class="button">Assista</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/red.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Red Canids</h2>
                        <p class="description">Time de E-Sports Brasileiro<br>Tricampeão do #CBLOL<br><a href="https://twitter.com/redcanids" target="_blank">twitter.com/redcanids</a></p>

                        <button onclick="window.open('https://youtu.be/msVBtfyDFO0', '_blank').focus();" class="button">Assista</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/buero.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">"Buero"</h2>
                        <p class="description">Brazilian ADC, the "Kiting monster".<br>Currently Free Agent.<br><a href="https://twitch.tv/buerinho" target="_blank">twitch.tv/buerinho</a></p>

                        <button onclick="window.open('https://twitter.com/burnfxbr/status/1520137817451638785', '_blank').focus();" class="button">Assista</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/cuts.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Courtesy</h2>
                        <p class="description">Work approved by Courtesy.<br>Top #1 Yasuo world.<br><a href="https://twitter.com/courtesyas" target="_blank">twitter.com/courtesyas</a></p>

                        <button onclick="window.open('https://twitter.com/risixdzn/status/1495193015408898049', '_blank').focus();" class="button">Assista</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/titan.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Titan</h2>
                        <p class="description">Work approved by Titan, a League of Legends esports player.<br>Red Canids ADC. <a href="https://twitter.com/titannlol1" target="_blank">twitter.com/titannlol1</a></p>

                        <button onclick="window.open('https://youtu.be/msVBtfyDFO0', '_blank').focus();" class="button">Assista</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/aegis.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Aegis</h2>
                        <p class="description">Work approved by Aegis, a League of Legends esports player.<br>Red Canids JG. <a href="https://twitter.com/aegislol1" target="_blank">twitter.com/aegislol1</a></p>

                        <button onclick="window.open('https://youtu.be/msVBtfyDFO0', '_blank').focus();" class="button">Assista</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Imgs/Profiles/quindinho.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Quindinho</h2>
                        <p class="description">Work approved by Quindinho.<br>Top 1 Katarina BR.<br><a href="https://www.twitch.tv/quindinho" target="_blank">twitch.tv/quindinho</a></p>

                        <button onclick="window.open('https://twitter.com/risixdzn/status/1433260172076634112', '_blank').focus();" class="button">Assista</button>
                    </div>
                </div>                
            </div>
        </div>

        

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class=swipeicon>
      <div class="animation">
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
          <lord-icon
            src="https://cdn.lordicon.com/sukojcry.json"
            trigger="loop"
            colors="primary:#dbdbdb"
            style="width:75px;height:75px">
          </lord-icon>
      </div>
      <h3 class="text">Deslize</h3>
    
    </div>
    
    <script src="js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="js/swiper.js"></script>


  </section>

    
   
    <!--trabalhosrecentesend--> 
  
    <!--trabalheconosco-->

    <section class="envieseusclips" id="envieseusclips">
      <div class="envieseusclips-maxwidth">
        
        <div class="cttbox">
          <h1 class="title">Envie Seus Clips</h3>
          <h2 class="subtitle">Vamos trabalhar juntos!</h2>
          <h3 class="desc">Quer aparecer em nossas mídias sociais com sua jogada insana?<br>Envie seus clips por meio do <B>Discord.</B><Br><Br>Clique no botão abaixo para começar</h3>
          <a class="button" href="login.html"><i class="fa-solid fa-user"></i>&nbspMinha Conta</a>
          
          <div class="imgwrap">
            <img src="Imgs/waves.png" alt="waves">
          </div>          
        </div>
       </div>
        
        
        
        
        
        
        
        <!--<div class="box">
          <div class="column1">
            <div class="containerform">  
              <form id="contact" class="contact" method="POST" action="javascript:sendEmail();thankMail()">
                <h3>Envie Seus<br>Clips!</h3>
                            
                <h4>Envie sua melhor jogada e apareça<br>em nossas mídias sociais!</h4>               
                       
                <h4>O envio de clips é feito por meio do discord. Crie sua conta no nosso website e você sera automaticamente redirecionado para o servidor.</h4>
              </form>               
            </div>            
          </div>
          <div class="column2">
            <img src="Imgs/Lee-Idle.png" alt="chefe">
          </div>  
            
          </div>      
        </div>
         
        
        sendmail

        <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>

        <script>   
          //email dados               
          function sendEmail(){
            var name = $("#name").val();
            var email = $("#email").val();
            var twitterdisc = $("#twitterdisc").val();
            var message = $("#message").val();

            var body = "Nome: " + name + "<br>Email : " + email + "<br>Twitter ou Discord : " + twitterdisc + "<br>Mensagem : " + message;

            Email.send({
                SecureToken : "cd7ec4fa-9996-47a2-be3d-09dc8a5ec5f7",                
                To : 'burnfx.form@gmail.com',
                From : "burnfx.mailing@gmail.com",
                Subject : name,
                Body : body,
              }).then(
                message => alert(message)
              );
          }

          //obrigado email
          function thankMail(){
            var name = $("#name").val();
            var email = $("#email").val();
            var twitterdisc = $("#twitterdisc").val();
            var message = $("#message").val();

            var body = "Nome: " + name + "<br>Email : " + email + "<br>Twitter ou Discord : " + twitterdisc + "<br>Mensagem : " + message;

            Email.send({
                SecureToken : "cd7ec4fa-9996-47a2-be3d-09dc8a5ec5f7",
                To : document.getElementById('email').value,
                From : "burnfx.mailing@gmail.com",
                Subject : "Obrigado por entrar em contato!",
                Body : "Obrigado por preencher o formulário! Entraremos em contato em breve.",
              })        
          }
        </script>

      </div>-->
    </section>    

    <!--trabalheconoscoend-->
    
    <!--footer-->

    <link rel="stylesheet" href="css/footer.css">

    <footer class="footer">
        <div class="footer__addr">
          <img class="imgfooter" src="Imgs/logo.svg" alt="burnfx©">
              
          <h2>Contact</h2>
          
          <address>
            @burnfx - Twitter <i class="fa fa-twitter"></i><br>
                
            <a class="footer__btn" href="https://twitter.com/messages/2880109373-1070775711030484993" target="_blank"><i class="fa-solid fa-envelope"></i>&nbspSend a message</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Socials</h2>
      
            <ul class="nav__ul">
              <li>
                <i class="fa fa-twitter"></i><a href="https://twitter.com/burnfxbr" target="_blank">  Twitter</a>
              </li>
      
              <li>
                <i class="fa fa-youtube"></i><a href="https://www.youtube.com/c/Ignitelolbr" target="_blank">  Youtube</a>
              </li>
                  
              <li>
                <i class="fa fa-github"></i><a href="https://github.com/risixdzn" target="_blank">  Github</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Links</h2>
            
            <ul class="nav__ul nav__ul--extra">
              <li>
                <i class="fa-brands fa-discord"></i><a href="https://discord.gg/invite/8nvG4Ng3Sr" target="_blank">  Discord</a>
              </li>
              
              <li>
                <i class="fa-solid fa-tree"></i><a href="https://linktr.ee/risiXDzn">  Linktree</a>
              </li>
              
              <li>
                <i class="fa-solid fa-fire-flame-curved"></i></i><a href="https://twitter.com/ignitelolbr"> "risiX"</a>
              </li>
              
              <li>
                <i class="fa-solid fa-book"></i><a href="https://risixdzn.github.io/portfolio">  Portfolio</a>
              </li>
              
              <li>
                <i class="fa-brands fa-bitcoin"></i><a href="login.ejs">  Login</a>
              </li>             
              
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            
            <ul class="nav__ul">
              <li>
                <a href="https://www.privacypolicygenerator.info/live.php?token=VXlY9cJBSzZf07msPmkQh5xkyJBiWQnI">Privacy Policy</a>
              </li>
              
              <li>
                <a href="https://www.termsandconditionsgenerator.com/live.php?token=h1RxlxoUbOGpxW5FpBzpbRnW6Fr6gvZm">Terms of Use</a>
              </li>
              
              
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <script>
              document.write('&copy;' );
              document.write(' 2021 - ');
              document.write(new Date().getFullYear());
              document.write(' BurnFx - All Rights Reserved.');
              document.write('<br/>Last Updated : ');
              document.write(document.lastModified);
          </script>              
        </div>
      </footer>

    <!--endfooter-->

    <!--backtop-->

    <a href="#" class="to-top">
      <lord-icon
          src="https://cdn.lordicon.com/eflfmgmj.json"
          trigger="loop"
          colors="primary:#ffffff"
          state="hover-1"
          style="width:32px;height:32px">
      </lord-icon>
    </a>

    <!--backtopend-->
    
    <!--scrollreveal-->

    <script>
      ScrollReveal({
	      reset: true,
	      distance: '60px',
	      duration: 2500,
	      delay: 400,
      });
      
      ScrollReveal().reveal('.conteudo-home, .divisao, .titlesection, .', { delay: 0  }); 
      ScrollReveal().reveal('.titlequemsomos', { delay: 0, origin: 'top' });      
      ScrollReveal().reveal('.btnreadmore, .slide-content, .swipeicon', { delay: 699, origin: 'top' });  
      ScrollReveal().reveal('.desc, .', { delay: 699, origin: 'top' });     
      ScrollReveal().reveal('.arrowdown', { delay: 900, origin: 'top' }); 
      ScrollReveal().reveal('.waves, .imgside', { delay: 850 });     
      
    </script>

    <!--scrollreveal end-->
    
</body>
</html>