<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Burn</title>
    <meta name="description" content="Always on fire.">
    <link rel="stylesheet" href="css/login.css" />    
    <link rel="shortcut icon" type="image/png" href="Imgs/favicon.png">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://kit.fontawesome.com/53a67ba7bc.js" crossorigin="anonymous"></script>    
    <script src="https://unpkg.com/scrollreveal"></script>   
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    

    <meta property='og:title' content='Burn - Always on Fire'/>
    <meta property='og:image' content='https://i.ibb.co/BLN41TH/ogimage.png'/>
    <meta property='og:description' content='BurnFx. A whole new way of editing videos.'/>    
    <meta property='og:url' content='https://risixdzn.github.io/ignite/'/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
</head>
<body> 
<!--nav-->
  <header>
    <a class="logo" href="/"><img src="Imgs/logo.svg" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a class="link" href="index.ejs" id="nav01">Home</a></li>
            <li><a class="link" href="index.ejs" id="nav02">Quem&nbspsomos</a></li>
            <li><a class="link" href="index.ejs" id="nav03">Trabalhos&nbspRecentes</a></li>
            <li><a class="link" href="index.ejs" id="nav04">Envie&nbspseus&nbspclips</a></li>
        </ul>
    </nav>
    <a class="login" href="#"><i class="fa-solid fa-user"></i>&nbspMinha&nbspconta</a>
    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
  </header>
  <nav class="mobile-nav">
    <a href="index.ejs"><i class="fa-solid fa-house"></i> Home</a>
    <a href="index.ejs"><i class="fa-solid fa-user"></i> Quem&nbspsomos</a>
    <a href="index.ejs"><i class="fa-solid fa-paintbrush"></i> Projetos&nbsprecentes</a>
    <a href="index.ejs"><i class="fa-solid fa-envelope"></i> Envie&nbspseus&nbspclips</a>  
    <a href="#"><i class="fa-solid fa-user"></i> Minha conta</a>         
  </nav>   
  <script type="text/javascript" src="../js/main.js"></script>
<!--navend-->

<!--login-->

<section class="login-section" id="login-section">
  <div id="login-section-maxwidth" class="login-section-maxwidth">  
    <div class="login-content">
      
      <div class="column1">
        <div class="text">
          <h1 class="title">O que acontece aqui,<br><strong>fica </strong>aqui.</h1>
          <h4 class="subtitle">Conecte-se com seu discord para continuar.</h3>          
        </div>        
      </div>

      <div class="column2">        
        <div class="inLoginForm">
           <form onsubmit="return false">
            <div class="title">
              <h3>Entrar</h3>
            </div>
            <div class="subtitle">
              <a class="sub">O nosso sistema utiliza de um bot do Discord para gerenciamento de clips.<br><br>Conecte-se com o seu discord para prosseguir.</a>            
            </div>
            <a class=imgbox href="link do bot">
              <img src="Imgs/discord.png" alt="">    
            </a>       
            <button class="submitForm">Log In</button>
 
            <div class="else">
              <a href="link do bot" class="elseregister">Não&nbsppossui&nbspuma&nbspconta?&nbspRegistre&#8209se!</a>
            </div>
          </form>
        </div>
        

      </div>
    </div>
  </div>   
</section>

<!--loginend-->

<!--footer-->

<link rel="stylesheet" href="../footer.css" />    

<footer class="footer">
  <div class="footer__addr">
    <img class="imgfooter" src="Imgs/logo.svg" alt="burnfx©">
        
    <h2>Contact</h2>
    
    <address>
      @burnfx - Twitter <i class="fa fa-twitter"></i><br>
          
      <a class="footer__btn" href="https://twitter.com/messages/2880109373-1070775711030484993" target="_blank"><i class="fa-solid fa-envelope"></i>&nbspSend a message</a>
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Socials</h2>

      <ul class="nav__ul">
        <li>
          <i class="fa fa-twitter"></i><a href="https://twitter.com/burnfxbr" target="_blank">  Twitter</a>
        </li>

        <li>
          <i class="fa fa-youtube"></i><a href="https://www.youtube.com/c/Ignitelolbr" target="_blank">  Youtube</a>
        </li>
            
        <li>
          <i class="fa fa-github"></i><a href="https://github.com/risixdzn" target="_blank">  Github</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Links</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <i class="fa-brands fa-discord"></i><a href="https://discord.gg/invite/8nvG4Ng3Sr" target="_blank">  Discord</a>
        </li>
        
        <li>
          <i class="fa-solid fa-tree"></i><a href="https://linktr.ee/risiXDzn">  Linktree</a>
        </li>
        
        <li>
          <i class="fa-solid fa-fire-flame-curved"></i></i><a href="https://twitter.com/ignitelolbr"> "risiX"</a>
        </li>
        
        <li>
          <i class="fa-solid fa-book"></i><a href="https://risixdzn.github.io/portfolio">  Portfolio</a>
        </li>
        
        <li>
          <i class="fa-brands fa-bitcoin"></i><a href="login.ejs">  Login</a>
        </li>             
        
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="https://www.privacypolicygenerator.info/live.php?token=VXlY9cJBSzZf07msPmkQh5xkyJBiWQnI">Privacy Policy</a>
        </li>
        
        <li>
          <a href="https://www.termsandconditionsgenerator.com/live.php?token=h1RxlxoUbOGpxW5FpBzpbRnW6Fr6gvZm">Terms of Use</a>
        </li>
        
        
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <script>
        document.write('&copy;' );
        document.write(' 2021 - ');
        document.write(new Date().getFullYear());
        document.write(' BurnFx - All Rights Reserved.');
        document.write('<br/>Last Updated : ');
        document.write(document.lastModified);
    </script>              
  </div>
</footer>

<!--endfooter-->

<!--scrollreveal-->

<script>
  ScrollReveal({
    reset: true,
    distance: '60px',
    duration: 2500,
    delay: 400,
  });
  
  ScrollReveal().reveal('.column1', { delay: 0  }); 
  ScrollReveal().reveal('.inLoginForm', { delay: 500});      
  
</script>

<!--scrollreveal end-->

</body>
</html>